@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


body {
    min-height: 2000px;
}

#body {
    font-family: 'Lora', serif;   
}

nav {
    padding-top: 10px;
}

#mySidebar {
    background-color: #3C2A21;
}

header {
    padding-right: 100px;
    padding-left: 100px;
    background-color: #D5CEA3;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
}

nav a:hover {
    color: #D5CEA3;
}


/*
#nav .btn-primary {
    background-color: #3C2A21;
    border-color: #3C2A21;
}

#nav .text-end a:hover {
    background-color: #D5CEA3;
    border-color: #3C2A21;
    color: #3C2A21;
}
*/

.jumbotron {
    background-color: #E5E5CB;
}

#introduce h1 {
    font-size: 55px;
    font-family: 'Lora', serif;   
}

#introduce p {
    font-size: medium;
}

#introduce .btn-primary {
    background-color: #3C2A21;
    border-color: #3C2A21;
}

#introduce #btn-porto a:hover {
    background-color: #D5CEA3;
    border-color: #3C2A21;
    color: #3C2A21;
}

#introduce .img-thumbnail {
    background-color: #D5CEA3;
}

#myPorto {
    font-family: 'Cookie', cursive;
    font-size: xx-large;
}

.jumbotron img {
    margin-top: 40px;
}

#aboutme h2 {
    font-family: 'Lora', serif;   
}

#project {
    background-color: #E5E5CB;
}

#project h2 {
    font-family: 'Lora', serif;   
}

#project a {
    text-decoration: none;
}

#project h5 {
    font-family: 'Lora', serif;   
}

#project h3 {
    font-family: 'Lora', serif;   
}

#project h5:hover {  
    color: #E5E5CB;
}

#project .card {
    background-color: #D5CEA3;
}


