@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lora&family=Poppins:wght@100&family=Roboto:wght@300&family=Zen+Old+Mincho&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: url(assets/paw3.jpg);
    font-family: 'Lora', Times;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

main {
    padding: 20px;
    overflow: auto;
}

nav a {
    font-size : 18px;
    font-weight : 400;
    text-decoration : none;
}

nav a:hover{
    font-weight : bold;
    color: #58391C;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

 nav {
    background-color: #F88F01;
    padding: 5px;
    position: sticky;
    top: 0;
}

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.card-1 {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 40px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.card {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 150px;
    background: url(assets/paw2.jpg);
}

.mySlide {
    display: none;   
}

.konten-image {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: center;
}

.card p {
    font-size: 17px;
    line-height: 1.5em;
    text-align: justify;
}

article,
section {
    padding: 10rem 0 5rem 0;
}

.title {
    margin-top: -100px;
    text-align: center;
    padding-bottom: 10px;
}
  
.title h1 {
    font-size: 2rem;
    display: inline-block;
    position: relative;
    padding-top: 0;
}
  
.title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #58391C;
    width: 50%;
    height: 0.4rem;
}

.container {
    display: flex;

    /* Properti lainnya */
    width: 100%;
    height: 50%;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}
.box {
    flex-grow: 1;

    /* properti lainnya */
    width: 800px;
    height: 250px;
    background-color: #E27802;
    margin: 5px;
    border-radius: 10px;
}

.box img {
    height: 85%;
    bottom: 0%;
    margin-left: 25%;
    margin-right: 30%;
    margin-top: 5%;   
}

#profil header h1 {
    font-size: 30px;
}

#profil header hr {
    text-align: center;
    width: 25%;
    border-top: 3px double #58391C;
}

#profil img {
    margin-left: 40%;
    width: 300px;
    border-radius: 60%;
}

#profil table {
    margin-top: -100px;
    margin-left: 38%;
    font-size: 20px;
}

#profil table td {
    padding: 10px;
}

footer {
    padding: 20px;
    color: #fff;
    background-color: #58391C;
    text-align: center;
}

@media screen and (max-width: 1000px) {
   #content,
    aside {
    width: 100%;
    padding: 0;
   }

   .card-1 {
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
   }

   .container {
    display: block;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
    }

    .box {
        flex-grow: 1;
        /* properti lainnya */
        width: 100%;
        margin: 5px;
    }

    .container img {
        margin-left: 20%;
    }
    
    #profil img {
        width: 50%;
        margin-left: 20%;
        padding: 0;
    }
    
    #profil table {
        margin-left: auto;
        font-size: 16px;
        padding: 0;
    }
    
    #profil table td {
        width: 100%;
        padding: 0;
    }
}

